doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= pageTitle
        style.
            body {
                font-family: Arial, sans-serif;
                background-color: #fff;
                text-align: center;
                padding: 20% 0;
            }
            h1 {
                font-size: 5rem;
                color: #lightgrey;
            }
            p {
                font-size: 1.5rem;
                color: #333;
            }
    body
        h1 404 Page Not Found
        p The page you're looking for does not exist.
        button(onclick="history.back()") Back
